.nav {
  overflow: hidden;
  background-color: royalblue;
  text-align: left;
  padding-bottom: 1vh;
  height: 15vh;
}

.nav-link {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}